<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
    <footer>
      <small>Copyright 2020 OSMFJ/OSGeo.JP</small>
    </footer>
    {{ with resources.Get "js/index.ts" }}
      {{ $js := resources.Get . | js.Build }}
      <script src="{{ $js.Permalink }}"></script>
    {{ end }}
  </body>
</html>