<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
    <footer>
      <p><a href="https://github.com/osmfj/geoweek_and_weekend_2020">GitHub Repo</a> / <a href="https://docs.mapbox.com/mapbox-gl-js/example/dancing-buildings/">Original Code</a></p>
      <p>Music by <a href="https://twitter.com/Ca5">Ca5</a> / <a href="https://www.otherman-records.com/releases/OTMN051">OTMN051: Memory of the Cartridge</a></p>
    </footer>
    {{ with resources.Get "js/index.ts" }}
      {{ $js := resources.Get . | js.Build }}
      <script src="{{ $js.Permalink }}"></script>
    {{ end }}
  </body>
</html>